.wild {
  color: yellow;
font-weight: bold;
}
.Nairobi {
  color: red;
  font-weight: bold;

}
.Elepant {
  font-size: 25px
  color: green;
}
.Zoo {
  font-size: 25px;
  color: black;
}
body {
  background-image: url(real.jpg);
  background-size: cover;
}
