.head {
  border: 3px solid red;
  background-color: yellow;
  padding: 27px;
  margin: 55px;
}
.Kampala p {
  background-color: coral;
  font-weight: bold;
}
.Nairobi p {
  background-color: steelblue;
  font-weight: bold;
}
body {
  background-image: url(backg.jpg);
  font-family: Arial;
}
